  
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1">Scrapper</h1>
          <p class="h6 font-weight-bold">Select the id of the person on www.proz.com</p>
        <p>
      <div class="d-flex">
       <input class="form-control form-control-lg" type="text" placeholder="https://www.proz.com/profile/id" aria-label=".form-control-lg example">
          <a href="#" class="btn btn-primary my-2">Scrapp</a>
        </p>
      </div>
      
      </div>
    </div>
  </section>
</main> 